@model IEnumerable<Models.CommandDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Commands</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Name: <input type="text" name="Name" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Show all</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Country: <input type="text" name="Country" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Show all</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by CommandID: <input type="text" name="CommandID" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Show all</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by PlayerID: <input type="text" name="PlayerID" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Show all</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>PlayerID</th>
            <th>CommandID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Country)</td>
            <td>@Html.DisplayFor(modelItem => item.PlayerID)</td>
            <td>@Html.DisplayFor(modelItem => item.CommandID)</td>
            <td>
                <a asp-action="Create" asp-route-id="@item.CommandID">Create</a>  |
                <a asp-action="Update" asp-route-id="@item.CommandID">Update</a>  |
                <a asp-action="Delete" asp-route-id="@item.CommandID">Delete</a>
            </td>
        </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Country)</td>
                <td>@Html.DisplayFor(modelItem => item.PlayerID)</td>
                <td>@Html.DisplayFor(modelItem => item.CommandID)</td>
            </tr>
        }
    </tbody>
</table>